* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  --bg: linear-gradient(292.55deg, #E5E5E5 -18.12%, rgba(79, 227, 227, 0.229167) 88.3%, rgba(35, 226, 226, 0) 119.94%, #E5E5E5 119.94%);
  --color:#0D745B;
  --primary: #3DFFD0;
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: linear-gradient(292.55deg, #101312 -18.12%, #013737 119.94%);
    --color: #3DFFD0;
    --primary: #144D3F;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10vh 10vw;
}

.main .left {
  width: 50%;
  padding: 10px;
}

.main .left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background: var(--bg);
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  height: 100%;
}

.main .left .content .item-user {
  background: var(--bg);
  color: var(--color);
  width: 90px;
  height: 90px;
  margin-right: 10px;
  border-radius: 100%;
  padding: 10px;
  text-align: center;
  border: 0;
  font-size: 1.5rem;
  border: 1px solid var(--color);
  margin-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: scroll;
}

.main .left .content .item-user img {
  width: 90%;
  border-radius: 100%;
}

.main .left .content .item-user .name {
  font-size: 12px;
}

.main .left .content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.main .left .content .item {
  background: var(--bg);
  color: var(--color);
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  border: 0;
  font-size: 1.5rem;
  border: 1px solid var(--color);
  margin-bottom: 10px;
  cursor: pointer;
}

.main .left .content .active {
  background: var(--color);
  color: var(--primary);
}

.main .right {
  width: 50%;
  padding: 10px;
}

.main .right .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: var(--bg);
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  height: 100%;
  position: relative;
}

.main .right .content .twoitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  width: 100%;
}

.main .right .content .twoitem .item_ {
  font-size: .9rem;
}

.main .right .content .item {
  background: var(--bg);
  color: var(--color);
  width: 100%;
  border-radius: 30px;
  padding: 20px;
  border: 0;
  font-size: 1.5rem;
  border: 1px solid var(--color);
  margin-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.main .right .content .item .item_ {
  padding: 10px;
  border-radius: 30px;
  width: 50%;
  border: 1px solid var(--color);
  text-align: center;
}

.main .right .content .item .img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 10px;
}

.main .right .content .item .active {
  border: 2px solid var(--color);
  margin-right: auto;
}

.main .right .content .active {
  background: var(--color);
  color: var(--primary);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .main {
    padding: 2vh 2vw;
  }
  .main .left, .main .right {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */