*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:focus{
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}

body {
    --bg: linear-gradient(292.55deg, #E5E5E5 -18.12%, rgba(79, 227, 227, 0.229167) 88.3%, rgba(35, 226, 226, 0) 119.94%, #E5E5E5 119.94%);
    --color:#0D745B;
    --primary : #3DFFD0;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        --bg: linear-gradient(292.55deg, #101312 -18.12%, #013737 119.94%);
        --color: #3DFFD0;
        --primary : #144D3F;
        margin: 0;
        padding: 0;
        background: var(--bg);
        color: var(--color);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
}
  .main{
    display: flex;
    justify-content: center;;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    flex-wrap: wrap;
    padding: 10vh 10vw;
    & .left{
        width: 50%;;
        padding: 10px;
        & .content{
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            background: var(--bg);
            width: 100%;
            border-radius: 30px;
            padding:20px;
            height: 100%;
            & .item-user{
                background: var(--bg);
                color: var(--color);
                width: 90px;
                height: 90px;
                margin-right: 10px;
                border-radius: 100%;
                padding:10px;
                text-align: center;
                border: 0;
                font-size: 1.5rem;
                border: 1px solid var(--color);
                margin-bottom: 10px;
                cursor: pointer;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                overflow:scroll;
                & img{
                    width: 90%;
                    border-radius: 100%;
                }
                & .name{
                    font-size: 12px;
                }
            }
            & h1{
                display: flex;
                padding: 20px;
                margin-bottom: 10px;
                width: 100%;

            }
            & .item{
                background: var(--bg);
                color: var(--color);
                width: 100%;
                border-radius: 30px;
                padding:20px;
                text-align: center;
                border: 0;
                font-size: 1.5rem;
                border: 1px solid var(--color);
                margin-bottom: 10px;
                cursor: pointer;
               
            }
            & .active {
                background: var(--color);
                color: var(--primary);
            }
        }
    }
    & .right{
        width: 50%;
        padding: 10px;
        & .content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            background: var(--bg);
            width: 100%;
            border-radius: 30px;
            padding:20px;
            height: 100%;
            position: relative;
            & .twoitem{
                display: flex;
                justify-content: center;
                overflow-x: scroll;
                width: 100%;
                & .item_{
                    font-size: .9rem;
                }
            }
            & .item{
                background: var(--bg);
                color: var(--color);
                width: 100%;
                border-radius: 30px;
                padding:20px;
                border: 0;
                font-size: 1.5rem;
                border: 1px solid var(--color);
                margin-bottom: 10px;
                cursor: pointer;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
                overflow-x: scroll;
                & .item_{
                    padding: 10px;
                    border-radius: 30px;
                    width: 50%;
                    border: 1px solid var(--color);
                    text-align: center;
                }
                & .img{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    margin: 0 10px;
                }
                & .active{
                    border:2px solid var(--color);
                    margin-right: auto;
                }
            }
            & .active {
                background: var(--color);
                color: var(--primary);
                justify-content: center;
            }

        }
    }

    @media screen and (max-width:800px) {
        & .left, .right{
            width:100%
        }
        padding: 2vh 2vw;
    }
  }